<div class="G-flex-center-between G-mb-20px">
  <h2>Total: 32856</h2>
  <a [appPermission]="[PermissionsEnum.CreateUpdateDivisionType]"
     [routerLink]="['','division', 'division-types', ManageTypesEnum.Add]" nz-button nzType="primary">Add</a>
</div>
<nz-table #nzTable [nzData]="list$ | async" nzShowSizeChanger nzShowPagination>
  <thead>
  <tr>
    <th nzCustomFilter>
      {{ helperService.listOfColumn.name.title }}
      <nz-filter-trigger [(nzVisible)]="visibleNameFilter" [nzActive]="divisionTypesService.filterName.length > 0"
                         [nzDropdownMenu]="nameFilter">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th nzCustomFilter>
      {{ helperService.listOfColumn.descriotion.title }}
      <nz-filter-trigger [(nzVisible)]="visibleDescriptionFilter"
                         [nzActive]="divisionTypesService.filterDescription.length > 0"
                         [nzDropdownMenu]="descriptionFilter">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th nzCustomFilter>
      {{ helperService.listOfColumn.identifier.title }}
      <nz-filter-trigger [(nzVisible)]="visibleIdentifierFilter"
                         [nzActive]="divisionTypesService.filterIdentifier.length > 0"
                         [nzDropdownMenu]="identifierFilter">
        <i nz-icon nzType="search"></i>
      </nz-filter-trigger>
    </th>
    <th [nzWidth]="helperService.actions.width" class="G-min-w-200px G-flex-justify-between G-flex-align-center">
      Actions
      <button nz-button nzType="default" (click)="divisionTypesService.resetAllFilters();initializeValues()"><i nz-icon
                                                                                                                nzType="reload"
                                                                                                                nzTheme="outline"></i>Reset
      </button>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let divisionType of nzTable.data">
    <td>{{ divisionType.name }}</td>
    <td>{{ divisionType.description }}</td>
    <td>{{ divisionType.identifier }}</td>
    <td class="P-actions G-flex-justify-end">
      <button nz-button nzType="primary"
              [routerLink]="['','division', 'division-types', ManageTypesEnum.Preview, divisionType.id]">Preview
      </button>
      <button nz-button nzType="default" [appPermission]="[PermissionsEnum.CreateUpdateDivisionType]"
              [routerLink]="['','division', 'division-types', ManageTypesEnum.Edit, divisionType.id]">Edit
      </button>

    </td>
  </tr>
  </tbody>
</nz-table>


<nz-dropdown-menu #nameFilter="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="P-search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="divisionTypesService.filterName"/>
      <button nz-button nzSize="small" nzType="primary" (click)="initializeValues()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="divisionTypesService.filterName = '';initializeValues()">Reset</button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #descriptionFilter="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="P-search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="divisionTypesService.filterDescription"/>
      <button nz-button nzSize="small" nzType="primary" (click)="initializeValues()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="divisionTypesService.filterDescription = '';initializeValues()">Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>

<nz-dropdown-menu #identifierFilter="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="P-search-box">
      <input type="text" nz-input placeholder="Search name" [(ngModel)]="divisionTypesService.filterIdentifier"/>
      <button nz-button nzSize="small" nzType="primary" (click)="initializeValues()" class="search-button">
        Search
      </button>
      <button nz-button nzSize="small" (click)="divisionTypesService.filterIdentifier = '';initializeValues()">Reset
      </button>
    </div>
  </div>
</nz-dropdown-menu>
