<nz-page-header nzTitle="Describe product" [nzBackIcon]="manageType === ManageTypesEnum.Preview">
  <nz-page-header-title>Describe product</nz-page-header-title>
</nz-page-header>

<form nz-form [nzLayout]="'vertical'" [formGroup]="form.formGroup" (ngSubmit)="submitForm()">

  <div class="P-form-container">
    <nz-form-item>
      <nz-form-label nzRequired>Name</nz-form-label>
      <nz-form-control nzErrorTip="Please input your name!">
        <input nz-input formControlName="name" placeholder="Name"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item class="G-column-align-start">
      <nz-form-label nzRequired>Description</nz-form-label>
      <nz-form-control class="G-w-100p" nzErrorTip="Please write something here!">
        <textarea class="P-textarea" formControlName="description" nz-input placeholder="write any thing"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div class="G-flex-justify-end" *ngIf="!router.url.includes('preview')">
    <button nz-button [routerLink]="['', 'users', 'user-regions', 'list']">Cancel</button>
    <button class="G-ml-5px" nz-button nzType="primary"
            [disabled]="form.formGroup.invalid">{{router.url.includes('add') ? 'Add' : 'Edit'}}</button>
  </div>
</form>
